/OpenInterpreter
/__pycache__
/actual_vs_predicted_prices_with_signals.png
/bitcoin_price_data_extended.csv
/bitcoin_unseen_data_with_prices.csv
/data.h5
/distribution_of_close_prices.png
/eth_price_data_extended.csv
/keras_tuner_dir
/model_test_evaluation.csv
/model_training_history.csv
/scaler.pkl
/trained_model.keras
result.png
training_1/checkpoint
training_1/cp.ckpt.data-00000-of-00001
training_1/cp.ckpt.index
robust_scaler.joblib
best_lstm_model/fingerprint.pb
best_lstm_model/keras_metadata.pb
best_lstm_model/saved_model.pb
best_lstm_model/variables/variables.data-00000-of-00001
best_lstm_model/variables/variables.index
